<div class="user-view">
	<div class="user-edit">
		<h2>プロフィール編集</h2>

		<%= render 'layouts/error_messages', obj: @user %>

		<% if @user.profile_image.present? %>
			<%= image_tag @user.profile_image.url, id: :img_prev %>
		<% else %>
  			<%= image_tag "no_image.jpg", id: :img_prev %>
		<% end %>

		<%= form_for @user do |f| %>
			<div class="user-edit-image">
				<%= f.file_field :profile_image, id: :user_img %>
			</div>

			<div class="user-edit-nickname">
				<%= f.label :nickname %><br>
				<%= f.text_field :nickname %>
			</div>

			<div class="user-edit-email">
				<%= f.label :Email %><br>
				<%= f.text_field :email %>
			</div>

			<div>
				<div class="user-edit-button">
					<%= f.submit "変更を保存する", class:"btn btn-success" %>
				</div>
				<div class="user-destroy-button">
					<%= link_to "このアカウントを削除する", user_path(@user), method: :delete, data: { confirm: '本当に、このアカウントを削除しますか？' },  class:"btn btn-danger" %>
				</div>
			</div>
		</div>

		<% end %>

	</div>
</div>
