<h1>プロフィール編集</h1>

<%= form_for @user do |f| %>
<div>
	<%= f.file_field :profile_image %>
</div>

<div>
	<%= f.label :nickname %>
	<%= f.text_field :nickname %>
</div>

<div>
	<%= f.label :Email %>
	<%= f.text_field :email %>
</div>

	<%= f.submit "変更を保存する" %>
<% end %>
