<div class="user-view">
	<div class="user-edit">
		<h1>プロフィール編集</h1>

		<% if @user.profile_image.present? %>
			<%= image_tag @user.profile_image.url, id: :img_prev %>
		<% else %>
  			<%= image_tag "no_image.jpg", id: :img_prev %>
		<% end %>

		<%= form_for @user do |f| %>
			<div class="user-edit-image">
				<%= f.file_field :profile_image, id: :user_img %>
			</div>

			<div class="user-edit-nickname">
				<%= f.label :nickname %>
				<%= f.text_field :nickname %>
			</div>

			<div class="user-edit-email">
				<%= f.label :Email %>
				<%= f.text_field :email %>
			</div>

			<div class="user-edit-button">
				<%= f.submit "変更を保存する", class:"btn btn-success" %>
			</div>
		<% end %>
	</div>
</div>

