<p class="top-logo"><%= link_to "Your best Games", root_path, class:"top-logo-text" %></p>

<% if user_signed_in? %>
  <span class="login-user">ようこそ<%= current_user.nickname %>さん！</span>
<% end %>

<div class="search_tag">
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag :search, "", placeholder: "投稿を検索"%>
      <%= submit_tag "検索" %>
    <% end %>
</div>

<div id="sp-menu">
  <h1>MENU</h1>

  <% if user_signed_in? %>
    <ul>
      <li><i class="fas fa-user fa-3x"></i> <%= link_to "プロフィール", user_path(current_user) %></li>
      <li><i class="fas fa-photo-video fa-3x"></i> <%= link_to "投稿リスト", posts_path %></li>
      <li><i class="fas fa-users fa-3x"></i> <%= link_to "ユーザリスト", users_path %></li>
      <li><i class="fas fa-sign-out-alt fa-3x"></i> <%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul>
      <li><i class="fas fa-gamepad fa-3x"></i> <%= link_to "About", home_about_path %></li>
      <li><i class="fas fa-photo-video fa-3x"></i> <%= link_to "投稿一覧", posts_path %></li>
      <li><i class="fas fa-user-plus fa-3x"></i> <%= link_to "SignUp", new_user_registration_path %></li>
      <li><i class="fas fa-sign-in-alt fa-3x"></i> <%= link_to "LogIn", new_user_session_path %></li>
    </ul>
  <% end %>
</div>

<div id="list-icon">
  <span class="notification-circle">
    <% if user_signed_in? %>
      <% if unchecked_notifications.any? %>
           <i class="fa fa-circle" style="color: gold;"></i>
      <% end %>
    <% end %>
  </span>

  <%= link_to notifications_path do %>
    <i class="fas fa-bell fa-3x"></i>
  <% end %>

  <%= link_to new_post_path do %>
    <i class="fas fa-plus-circle fa-3x"></i>
  <% end %>

  <a class="menu-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>