<!DOCTYPE html>
<html>
  <head>
    <title>YourBestGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fd999642e4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap">

      <header>
        <%= render "layouts/header" %>
      </header>

      <%= yield %>

      <footer>
        <div class="footer">
          <% if admin_signed_in? %>
            <P><%= link_to "Your best Games", admins_top_path, class:"footer-text" %></P>
          <% else %>
            <P><%= link_to "Your best Games", new_admin_session_path, class:"footer-text" %></P>
          <% end %>
        </div>
      </footer>

    </div>
  </body>
</html>
